{
  "symbols": [
    "??_C@_11LOCGONAA@?$AA?$AA@",
    "??_C@_15DEJJBEOA@?$AA?5?$AA?7?$AA?$AA@",
    "??_C@_15ENAIJLEF@?$AA3?$AA?2?$AA?$AA@",
    "??_C@_19BDAJEHDN@?$AAo?$AAp?$AAe?$AAn?$AA?$AA@",
    "??_C@_19LJDFFCJJ@?$AA?$CF?$AAs?$AA?$CF?$AAs?$AA?$AA@",
    "??_C@_1BA@CCDNPACB@?$AAF?$AAO?$AAL?$AAD?$AAE?$AAR?$AAS?$AA?$AA@",
    "??_C@_1BA@HEBNFGMC@?$AA?$CF?$AAs?$AA?2?$AA?$CF?$AAs?$AA?$CF?$AAs?$AA?$AA@",
    "??_C@_1BA@KCFNOPIN@?$AA?$CF?$AAs?$AA?$CF?$AAs?$AA?5?$AA?$CF?$AAs?$AA?$AA@",
    "??_C@_1BA@OFMBKJMH@?$AAD?$AAE?$AAS?$AAK?$AAT?$AAO?$AAP?$AA?$AA@",
    "??_C@_1BC@BCKPNCK@?$AAK?$AAE?$AAY?$AAB?$AAO?$AAA?$AAR?$AAD?$AA?$AA@",
    "??_C@_1BC@DMPCHOJJ@?$AAP?$AAR?$AAI?$AAN?$AAT?$AAE?$AAR?$AAS?$AA?$AA@",
    "??_C@_1BC@FKDBJBHN@?$AAn?$AAc?$AAp?$AAa?$AA?4?$AAc?$AAp?$AAl?$AA?$AA@",
    "??_C@_1BC@INHDPAKM@?$AAd?$AAe?$AAs?$AAk?$AA?4?$AAc?$AAp?$AAl?$AA?$AA@",
    "??_C@_1BC@JADFOMCK@?$AAI?$AAN?$AAF?$AAR?$AAA?$AAR?$AAE?$AAD?$AA?$AA@",
    "??_C@_1BE@LLDEMPBM@?$AAT?$AAE?$AAL?$AAE?$AAP?$AAH?$AAO?$AAN?$AAY?$AA?$AA@",
    "??_C@_1BE@PEBGPOAD@?$AAD?$AAA?$AAT?$AAE?$AA?1?$AAT?$AAI?$AAM?$AAE?$AA?$AA@",
    "??_C@_1BG@BPCDEJEE@?$AAS?$AAC?$AAH?$AAE?$AAD?$AAT?$AAA?$AAS?$AAK?$AAS?$AA?$AA@",
    "??_C@_1BG@GLJBHLPJ@?$AA?0?$AA?$EA?$AAA?$AAd?$AAv?$AAa?$AAn?$AAc?$AAe?$AAd?$AA?$AA@",
    "??_C@_1BG@MAPHCAMN@?$AAA?$AAD?$AAM?$AAI?$AAN?$AAT?$AAO?$AAO?$AAL?$AAS?$AA?$AA@",
    "??_C@_1BM@FGDOMLMG@?$AAU?$AAS?$AAE?$AAR?$AAP?$AAA?$AAS?$AAS?$AAW?$AAO?$AAR?$AAD?$AAS?$AA?$AA@",
    "??_C@_1BM@FILOLLNG@?$AAS?$AAC?$AAA?$AAN?$AAN?$AAE?$AAR?$AAC?$AAA?$AAM?$AAE?$AAR?$AAA?$AA?$AA@",
    "??_C@_1BM@OIPKIBDJ@?$AAI?$AAN?$AAT?$AAE?$AAR?$AAN?$AAA?$AAT?$AAI?$AAO?$AAN?$AAA?$AAL?$AA?$AA@",
    "??_C@_1BO@LHMDMJNC@?$AAN?$AAE?$AAT?$AAC?$AAO?$AAN?$AAN?$AAE?$AAC?$AAT?$AAI?$AAO?$AAN?$AAS?$AA?$AA@",
    "??_C@_1BO@MLDEANOE@?$AAU?$AAS?$AAE?$AAR?$AAP?$AAA?$AAS?$AAS?$AAW?$AAO?$AAR?$AAD?$AAS?$AA2?$AA?$AA@",
    "??_C@_1CA@BFMJBMEB@?$AAM?$AAi?$AAc?$AAr?$AAo?$AAs?$AAo?$AAf?$AAt?$AA?4?$AAM?$AAo?$AAu?$AAs?$AAe?$AA?$AA@",
    "??_C@_1CA@CNPNKNMJ@?$AAM?$AAi?$AAc?$AAr?$AAo?$AAs?$AAo?$AAf?$AAt?$AA?4?$AAF?$AAo?$AAn?$AAt?$AAs?$AA?$AA@",
    "??_C@_1CC@HNPIEALC@?$AAM?$AAi?$AAc?$AAr?$AAo?$AAs?$AAo?$AAf?$AAt?$AA?4?$AAS?$AAy?$AAs?$AAt?$AAe?$AAm?$AA?$AA@",
    "??_C@_1CG@FPOJLIDI@?$AAM?$AAi?$AAc?$AAr?$AAo?$AAs?$AAo?$AAf?$AAt?$AA?4?$AAI?$AAn?$AAf?$AAr?$AAa?$AAr?$AAe?$AAd?$AA?$AA@",
    "??_C@_1CG@MOPGKJDI@?$AAM?$AAi?$AAc?$AAr?$AAo?$AAs?$AAo?$AAf?$AAt?$AA?4?$AAK?$AAe?$AAy?$AAb?$AAo?$AAa?$AAr?$AAd?$AA?$AA@",
    "??_C@_1CM@NICAENDH@?$AAM?$AAi?$AAc?$AAr?$AAo?$AAs?$AAo?$AAf?$AAt?$AA?4?$AAD?$AAa?$AAt?$AAe?$AAA?$AAn?$AAd?$AAT?$AAi?$AAm?$AAe?$AA?$AA@",
    "??_C@_1CO@MHAJOKIJ@?$AAM?$AAi?$AAc?$AAr?$AAo?$AAs?$AAo?$AAf?$AAt?$AA?4?$AAU?$AAs?$AAe?$AAr?$AAA?$AAc?$AAc?$AAo?$AAu?$AAn?$AAt?$AAs?$AA?$AA@",
    "??_C@_1DA@BDPHCHH@?$AAM?$AAi?$AAc?$AAr?$AAo?$AAs?$AAo?$AAf?$AAt?$AA?4?$AAW?$AAi?$AAn?$AAd?$AAo?$AAw?$AAs?$AAU?$AAp?$AAd?$AAa?$AAt?$AAe?$AA?$AA@",
    "??_C@_1DA@DAJNLHCK@?$AAM?$AAi?$AAc?$AAr?$AAo?$AAs?$AAo?$AAf?$AAt?$AA?4?$AAP?$AAh?$AAo?$AAn?$AAe?$AAA?$AAn?$AAd?$AAM?$AAo?$AAd?$AAe?$AAm?$AA?$AA@",
    "??_C@_1DA@GFGPIFAA@?$AAM?$AAi?$AAc?$AAr?$AAo?$AAs?$AAo?$AAf?$AAt?$AA?4?$AAF?$AAo?$AAl?$AAd?$AAe?$AAr?$AAO?$AAp?$AAt?$AAi?$AAo?$AAn?$AAs?$AA?$AA@",
    "??_C@_1DE@NIGBALKG@?$AAM?$AAi?$AAc?$AAr?$AAo?$AAs?$AAo?$AAf?$AAt?$AA?4?$AAP?$AAe?$AAr?$AAs?$AAo?$AAn?$AAa?$AAl?$AAi?$AAz?$AAa?$AAt?$AAi?$AAo?$AAn?$AA?$AA@",
    "??_C@_1DI@BOLKBBEM@?$AAS?$AAh?$AAe?$AAl?$AAl?$AA3?$AA2?$AA?4?$AAd?$AAl?$AAl?$AA?0?$AAC?$AAo?$AAn?$AAt?$AAr?$AAo?$AAl?$AA_?$AAR?$AAu?$AAn?$AAD?$AAL?$AAL?$AA?5?$AA?$AA@",
    "??_C@_1DI@HKCGPEGE@?$AAM?$AAi?$AAc?$AAr?$AAo?$AAs?$AAo?$AAf?$AAt?$AA?4?$AAR?$AAe?$AAg?$AAi?$AAo?$AAn?$AAA?$AAn?$AAd?$AAL?$AAa?$AAn?$AAg?$AAu?$AAa?$AAg?$AAe?$AA?$AA@",
    "??_C@_1DK@OAPBMLBJ@?$AAM?$AAi?$AAc?$AAr?$AAo?$AAs?$AAo?$AAf?$AAt?$AA?4?$AAD?$AAe?$AAv?$AAi?$AAc?$AAe?$AAs?$AAA?$AAn?$AAd?$AAP?$AAr?$AAi?$AAn?$AAt?$AAe?$AAr?$AAs?$AA?$AA@",
    "??_C@_1DM@JOJLLINE@?$AAM?$AAi?$AAc?$AAr?$AAo?$AAs?$AAo?$AAf?$AAt?$AA?4?$AAA?$AAd?$AAm?$AAi?$AAn?$AAi?$AAs?$AAt?$AAr?$AAa?$AAt?$AAi?$AAv?$AAe?$AAT?$AAo?$AAo?$AAl?$AAs?$AA?$AA@",
    "??_C@_1FC@BKOMAEML@?$AA?3?$AA?3?$AA?$HL?$AA7?$AA0?$AA0?$AA7?$AAA?$AAC?$AAC?$AA7?$AA?9?$AA3?$AA2?$AA0?$AA2?$AA?9?$AA1?$AA1?$AAD?$AA1?$AA?9?$AAA?$AAA?$AAD?$AA2?$AA?9?$AA0?$AA0?$AA8?$AA0?$AA5@",
    "??_C@_1HK@MEBPAEHM@?$AAS?$AAo?$AAf?$AAt?$AAw?$AAa?$AAr?$AAe?$AA?2?$AAM?$AAi?$AAc?$AAr?$AAo?$AAs?$AAo?$AAf?$AAt?$AA?2?$AAW?$AAi?$AAn?$AAd?$AAo?$AAw?$AAs?$AA?2?$AAC?$AAu?$AAr?$AAr?$AAe@",
    "??_C@_1M@BNIOGAHH@?$AA?1?$AAp?$AAa?$AAg?$AAe?$AA?$AA@",
    "??_C@_1M@EGHFENNP@?$AAF?$AAO?$AAN?$AAT?$AAS?$AA?$AA@",
    "??_C@_1M@ENFOKIIP@?$AAC?$AAO?$AAL?$AAO?$AAR?$AA?$AA@",
    "??_C@_1M@GJEJGMNF@?$AA?9?$AAn?$AAa?$AAm?$AAe?$AA?$AA@",
    "??_C@_1M@HLGJKDIH@?$AAP?$AAA?$AAN?$AAE?$AAL?$AA?$AA@",
    "??_C@_1M@HOEBPMFH@?$AAM?$AAO?$AAU?$AAS?$AAE?$AA?$AA@",
    "??_C@_1M@IFHCPCEK@?$AA?1?$AAn?$AAa?$AAm?$AAe?$AA?$AA@",
    "??_C@_1M@IOEECBKH@?$AAP?$AAO?$AAR?$AAT?$AAS?$AA?$AA@",
    "??_C@_1M@PBLFPOOI@?$AA?9?$AAp?$AAa?$AAg?$AAe?$AA?$AA@",
    "??_C@_1O@GBFINDKL@?$AAS?$AAY?$AAS?$AAT?$AAE?$AAM?$AA?$AA@",
    "??_C@_1O@PICEPOID@?$AAU?$AAP?$AAD?$AAA?$AAT?$AAE?$AA?$AA@",
    "?GetControlPanelViewAndPath@@YAJPEAW4CPVIEW@@PEAGI@Z",
    "?GetNameAndPage@@YA_NPEBGPEAGIPEAPEAG@Z",
    "?GetRegisteredCplPath@@YAKPEBGPEAGI@Z",
    "?NextToken@@YAPEAGPEAPEAG@Z",
    "?OpenControlPanel@@YAJPEBG0@Z",
    "?StringCchCopyNExW@@YAJPEAG_KPEBG1PEAPEAGPEA_KK@Z",
    "?StringCchCopyW@@YAJPEAG_KPEBG@Z",
    "?StringCchPrintfW@@YAJPEAG_KPEBGZZ",
    "?WinMainT@@YAHPEAUHINSTANCE__@@0PEBGH@Z",
    "?__CxxUnhandledExceptionFilter@@YAJPEAU_EXCEPTION_POINTERS@@@Z",
    "CLSID_OpenControlPanel",
    "RtlpImageNtHeader",
    "WinMain",
    "WinMainCRTStartup",
    "_FindPESection",
    "_GUID_d11ad862_66de_4df4_bf6c_1f5621996af1",
    "_IsNonwritableInCurrentImage",
    "_ValidateImageBase",
    "_XcptFilter",
    "__C_specific_handler",
    "__CxxSetUnhandledExceptionFilter",
    "__GSHandlerCheck",
    "__GSHandlerCheckCommon",
    "__IMPORT_DESCRIPTOR_ADVAPI32",
    "__IMPORT_DESCRIPTOR_KERNEL32",
    "__IMPORT_DESCRIPTOR_SHELL32",
    "__IMPORT_DESCRIPTOR_SHLWAPI",
    "__IMPORT_DESCRIPTOR_USER32",
    "__IMPORT_DESCRIPTOR_api-ms-win-core-com-l1-1-1",
    "__IMPORT_DESCRIPTOR_api-ms-win-core-errorhandling-l1-1-1",
    "__IMPORT_DESCRIPTOR_api-ms-win-core-processthreads-l1-1-2",
    "__IMPORT_DESCRIPTOR_api-ms-win-core-profile-l1-1-0",
    "__IMPORT_DESCRIPTOR_api-ms-win-core-rtlsupport-l1-2-0",
    "__IMPORT_DESCRIPTOR_api-ms-win-core-synch-l1-2-0",
    "__IMPORT_DESCRIPTOR_api-ms-win-core-sysinfo-l1-2-1",
    "__IMPORT_DESCRIPTOR_msvcrt",
    "__NULL_IMPORT_DESCRIPTOR",
    "__defaultmatherr",
    "__dyn_tls_init_callback",
    "__dynamic_value_reloc_table",
    "__guard_check_icall_fptr",
    "__guard_dispatch_icall_fptr",
    "__guard_fids_count",
    "__guard_fids_table",
    "__guard_flags",
    "__guard_iat_count",
    "__guard_iat_table",
    "__guard_longjmp_count",
    "__guard_longjmp_table",
    "__imp_?terminate@@YAXXZ",
    "__imp_AllowSetForegroundWindow",
    "__imp_CoCreateInstance",
    "__imp_CoInitializeEx",
    "__imp_CoTaskMemAlloc",
    "__imp_CoTaskMemFree",
    "__imp_CoUninitialize",
    "__imp_ExpandEnvironmentStringsW",
    "__imp_GetCommandLineW",
    "__imp_GetCurrentProcess",
    "__imp_GetCurrentProcessId",
    "__imp_GetCurrentThreadId",
    "__imp_GetModuleHandleW",
    "__imp_GetStartupInfoW",
    "__imp_GetSystemTimeAsFileTime",
    "__imp_GetTickCount",
    "__imp_HeapSetInformation",
    "__imp_IsOS",
    "__imp_QueryPerformanceCounter",
    "__imp_RegCloseKey",
    "__imp_RegEnumValueW",
    "__imp_RegOpenKeyExW",
    "__imp_RtlCaptureContext",
    "__imp_RtlLookupFunctionEntry",
    "__imp_RtlVirtualUnwind",
    "__imp_SetUnhandledExceptionFilter",
    "__imp_ShellExecuteExW",
    "__imp_Sleep",
    "__imp_StrCmpICW",
    "__imp_StrTrimW",
    "__imp_TerminateProcess",
    "__imp_UnhandledExceptionFilter",
    "__imp__XcptFilter",
    "__imp___C_specific_handler",
    "__imp___getmainargs",
    "__imp___set_app_type",
    "__imp___setusermatherr",
    "__imp__acmdln",
    "__imp__amsg_exit",
    "__imp__cexit",
    "__imp__commode",
    "__imp__exit",
    "__imp__fmode",
    "__imp__initterm",
    "__imp__ismbblead",
    "__imp__vsnwprintf",
    "__imp_exit",
    "__imp_lstrlenW",
    "__imp_memset",
    "__native_startup_lock",
    "__native_startup_state",
    "__onexitbegin",
    "__onexitend",
    "__raise_securityfailure",
    "__report_gsfailure",
    "__security_check_cookie",
    "__security_cookie",
    "__security_cookie_complement",
    "__security_init_cookie",
    "__xc_a",
    "__xc_z",
    "__xi_a",
    "__xi_z",
    "__xmm@ffffffff80000001ffffffff80000002",
    "_amsg_exit",
    "_commode",
    "_dowildcard",
    "_fmode",
    "_get_image_app_type",
    "_guard_check_icall_nop",
    "_guard_dispatch_icall_nop",
    "_initterm",
    "_load_config_used",
    "_matherr",
    "_newmode",
    "_setargv",
    "memset",
    "\u007fADVAPI32_NULL_THUNK_DATA",
    "\u007fKERNEL32_NULL_THUNK_DATA",
    "\u007fSHELL32_NULL_THUNK_DATA",
    "\u007fSHLWAPI_NULL_THUNK_DATA",
    "\u007fUSER32_NULL_THUNK_DATA",
    "\u007fapi-ms-win-core-com-l1-1-1_NULL_THUNK_DATA",
    "\u007fapi-ms-win-core-errorhandling-l1-1-1_NULL_THUNK_DATA",
    "\u007fapi-ms-win-core-processthreads-l1-1-2_NULL_THUNK_DATA",
    "\u007fapi-ms-win-core-profile-l1-1-0_NULL_THUNK_DATA",
    "\u007fapi-ms-win-core-rtlsupport-l1-2-0_NULL_THUNK_DATA",
    "\u007fapi-ms-win-core-synch-l1-2-0_NULL_THUNK_DATA",
    "\u007fapi-ms-win-core-sysinfo-l1-2-1_NULL_THUNK_DATA",
    "\u007fmsvcrt_NULL_THUNK_DATA"
  ],
  "hash": "TODO"
}